body {
  margin: 0;
  width: 100%;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 900px;
  margin: 20px;
  padding: 20px;
  background-color: antiquewhite;
}

.Grid {
    column-count: 4;
    column-gap: 20px;
}

.Grid > * {
    break-inside: avoid;
    margin-bottom: 20px;
}

img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  display: block;
}