body{
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: 600px;
	background-color: white;
}
header{
	height: 50px;
	background-color: blue;
}
div{
	display: inline-block;
}
nav{
	display: flex; 
	height: 100%;
	align-items: center;
}
a{
	display: inline-block;
	margin: 0 10px 0 10px;
	padding: 0 5px 0 5px;
	color: white;
	font-family: Arial;
}
main{
	display: block;
	height: 400px;
	width: 100vw;
	background-color: red;
}
footer{
	background-color: yellow;
	height: 800px;
}
