:root{
  --color1: #1E1E1E;
  --color2: #d9d9d9
}

body{
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
}
footer{
  background-color: blue;
}
.container{
  display: grid;
  grid-template-columns: 1fr 200px;
  height: 400px;
  border: 5px solid black;
}
#commentSect{
  grid-column: 2;
  grid-row: 1;
  background-color: red;
}
#testSect{
  display: flex;
  grid-column: 1;
  grid-row: 1;
  background-color: blue;
}
nav {
  display: block;
  width: 100vw;
  height: 100px;
  margin: 0;
  align-content: center;
  background-color: var(--color1);
}
.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px 2px 0px 2px;
}
.menu{
  display: inline-block;
  background-color: var(--color2);
  height: 70px;
  width: 85px;
  margin: 0px 10px 0px 10px;
  border: 0px solid;
  border-radius: 50px;
}
.search{
  background-color: var(--color2);
  height: 70px;
  width: 350px;
  margin: 0px 10px 0px 10px;
  border-radius: 50px;
}
.about{
  font-family: "Montserrat";
  font-size: 32px;
  margin: 0px 10px 0px 10px;
}
.signinButton{
  margin: 0px 10px 0px 10px;
}
button{
  height: 70px;
  width: 200px;
  margin: 0px;
  font-size: 32px;
  border-radius: 50px;
}
hr{
  visibility: hidden;
  width: 400px;
  margin: 0;
}
p{
  display: inline;
  font-size: 32px;
}
li {
  display: inline-block;
  align-content: center;
  font-family: "Montserrat";
  color: var(--color2);
}
